html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}

.item_list {
  display: flex;
}
.item_link {
  text-decoration: none;
  color: black;
  padding: 0 0.8rem;
}

h1 {
  text-align: center;
  margin: 2rem 0;
}
.container {
  width: 60%;
  margin: 0 auto;
}
.container_description {
  text-align: center;
  line-height: 1.5;
  width: 80%;
  margin: 0 auto 2rem auto;
}

h2 {
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
}

.form label,
input,
button {
  padding: 0.3rem 0;
}

.form label {
  border: 1px solid #e6e6e6;
  border-right-width: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #e6e6e6;
  color: rgb(48, 48, 48);
  padding-left: 0.5rem;
}

.form input {
  width: 100%;
  border-radius: 0;
  border: 2px solid rgba(0, 0, 0, 0.25);
  outline: none;
}
.form button {
  width: 150px;
  background: #127eed;
  color: white;
  outline: none;
  border: 2px solid #127eed;
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

pre {
  background: #fbfbfb;
  padding: 1rem;
  overflow-x: scroll;
}

.hint_btns {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  color: rgba(0, 116, 236, 0.929412);
}
.hint_btns:hover {
  background-color: rgba(187, 239, 253, 0.3);
  text-decoration: underline;
}

.example_section {
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 600px;
}
.example_book {
  display: flex;
  flex-direction: column;
  width: 120px;
}
.example_img img {
  height: 180px;
}
.example_text__title {
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
  font-size: 18px;
}
.example_text__author {
  font-weight: lighter;
  font-size: 14px;
  margin: 0;
  margin-bottom: 16px;
}
